body {
  width: 100%;
}

main {
  font-family: "Roboto slab", serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url("/images/background.png");
  padding-left: 2rem;
}

nav {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem 0;
}

a {
  color: black;
  font-size: 1.5rem;
  padding-right: 1rem;
}

nav > i {
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.list-section {
  width: 100%;
}

.list-section > p {
  display: none;
}

.tasks {
  border: 1px solid black;
  border-radius: 2rem;
  background-color: #ffc3c325;
}

ul {
  padding: 0 2rem;
}

li {
  font-size: x-large;
  padding: 1rem 0;
  border-bottom: 1px solid black;
  width: 100%;
}

li:last-child {
  border-bottom: 0;
}

.add-btn > button {
  background-color: green;
  font-size: 2rem;
  padding: 0.1rem 2rem;
  border: 2px solid black;
  border-radius: 2rem;
}

.fa-circle {
  font-size: small;
  padding-right: 1rem;
}

.li-sel > input {
  width: 2rem;
  height: 2rem;
}

.add-form {
  border: 1px solid black;
  border-radius: 2rem;
}

@media screen and (min-width: 769px) {
  .tasks {
    border: 3px solid black;
  }

  li {
    border-bottom: 3px solid black;
  }

  .add-form {
    border: 3px solid black;
  }
}
